__pycache__
*egg-info*
.DS_Store
.coverage
build
dist
.eggs
_build
_static
_templates
# Anything ending in env/ is a virtual env and to be ignored
*env/
# Emacs backup files
*~
# PyCharm working files
.idea/
